<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Zespół</h1>
</div>
<div class="jumbotron ">
<p>Project Manager & Project Owner</p>

 <div class="row">
  <div class="col-md-6">
    <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/18698224_1295931967129323_5136139073045091193_n.jpg?oh=9701160124f6ac0fe85c97c826165755&oe=59A6BE40" alt="Nature" style="width:45%">
    <div class="caption">
      <p>Ewelina Karaś</p>
    </div>
  </div>
  <div class="col-md-6">
        <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/18698224_1295931967129323_5136139073045091193_n.jpg?oh=9701160124f6ac0fe85c97c826165755&oe=59A6BE40" alt="Nature" style="width:45%">
        <div class="caption">
          <p>Aneta Kukułka</p>
        </div>
  </div>

  </div>
<br/><br/>
<p>Back-end</p>

 <div class="row">
  <div class="col-md-6">
    <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/18622684_1295931837129336_460153061285679916_n.jpg?oh=fcaf7399376256c37f782ac60c03bcea&oe=59A753C3" alt="Nature" style="width:45%">
    <div class="caption">
      <p>Anna Legierska</p>
    </div>
  </div>
  <div class="col-md-6">
        <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/18622684_1295931837129336_460153061285679916_n.jpg?oh=fcaf7399376256c37f782ac60c03bcea&oe=59A753C3" alt="Nature" style="width:45%">
        <div class="caption">
          <p>Karolina Lebiecka</p>
        </div>
  </div>

  </div>
<br/><br/>

<p>Front-end</p>
 <div class="row">
  <div class="col-md-4">
    <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/18664245_1295931847129335_7862869506229628274_n.jpg?oh=9b7ca43df840b1cf1eada70c59810c64&oe=59DBD4B9" alt="Red_team" style="width:65%">
    <div class="caption">
      <p>Agnieszka Górowska</p>
    </div>
  </div>
  <div class="col-md-4">
        <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/18664245_1295931847129335_7862869506229628274_n.jpg?oh=9b7ca43df840b1cf1eada70c59810c64&oe=59DBD4B9" alt="Nature" style="width:65%">
        <div class="caption">
          <p>Michalina Prawda</p>
        </div>
  </div>
  <div class="col-md-4">
        <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/18664245_1295931847129335_7862869506229628274_n.jpg?oh=9b7ca43df840b1cf1eada70c59810c64&oe=59DBD4B9" alt="Fjords" style="width:65%">
        <div class="caption">
          <p>Magdalena Szpila</p>
    </div>
  </div>
</div>

<br/><br/>
<p>Analitycy</p>
 <div class="row">
  <div class="col-md-4">
    <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/18700100_1295931897129330_6641195414179863013_n.jpg?oh=44d8804088498a1535a28453114619f8&oe=59A2FDD6" alt="Red_team" style="width:70%">
    <div class="caption">
      <p>Agnieszka Brzuchacz</p>
    </div>
  </div>
  <div class="col-md-4">
        <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/18700100_1295931897129330_6641195414179863013_n.jpg?oh=44d8804088498a1535a28453114619f8&oe=59A2FDD6" alt="Nature" style="width:70%">
        <div class="caption">
          <p>Kinga Frańczyk</p>
        </div>
  </div>
  <div class="col-md-4">
        <img src="https://scontent.fwaw3-1.fna.fbcdn.net/v/t1.0-9/18700100_1295931897129330_6641195414179863013_n.jpg?oh=44d8804088498a1535a28453114619f8&oe=59A2FDD6" alt="Fjords" style="width:70%">
        <div class="caption">
          <p>Lorem ipsum...</p>
    </div>
  </div>
</div>
    <br/><br/>

</div>
{% endblock %}

