<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron ">
    <h1>Nasz cel</h1>
    <p>Przeprowadzona przez nas analiza statystyczna dotyczy wykorzystania nowoczesnych technologii w kontekście sportu i zdrowego stylu życia. Miała ona na celu ogólne badanie rynku związanego ze sprzętem i aplikacjami najchętniej wybieranymi przez użytkowników Twittera uprawiającymi sport. Przed przystąpieniem do zebrania danych określiłyśmy nasz problem badawczy:
    <br/>
    <br/>
    <ul>
    <li><p>Jak duże jest zainteresowanie sportem wśród użytkowników Twittera?</p></li>
    <li><p>Jaki rodzaj sportu i jaki dzień tygodnia jest najchętniej wybierany przez użytkowników uprawiających sport?</p></li>
    <li><p>Jak chętnie wykorzystywane są nowoczesne technologie (aplikacje, gadżety sportowe) w codziennej aktywności fizycznej?</p></li>
    </ul>
    <br/>
    <p>Odpowiedzi na te pytania pozwoliły nam określić czy w społeczeństwie występuje zapotrzebowanie na nowe aplikacje sportowe i urządzenia monitorujące aktywność fizyczną oraz w jakich dziedzinach sportu takie aplikacje cieszą się największym zainteresowaniem. Na tej podstawie można określić opłacalność inwestowania w nowoczesne technologie w kategorii sportu, a także zdefiniować potencjalną grupę obiorców aplikacji wprowadzanych na rynek.</p>
    </p>
  </div>

  <div class="page-header">
    <h1>Zobacz!</h1>
  </div>
  <p>
    <a href="/raw" class="btn btn-info" role="button">Zebrane dane</a>
    <a href="/result" class="btn btn-success" role="button">Wyniki</a>
  </p>




{% endblock %}

